<div class="feed">
    <div class="feed-left">
        <div class="user" *ngIf="user">
            <img routerLink="/{{ user.username }}" class="background-user" src="{{ url + '/user/image/' + user.coverImage }}" alt="{{ user.coverImage }}">
            <img routerLink="/{{ user.username }}" class="user-image" src="{{ url + '/user/image/' + user.image }}" alt="{{ user.image }}">
            <h3 routerLink="/{{ user.username }}">{{ user.username }}</h3>
            <h4 routerLink="/{{ user.username }}">{{ user.name }} {{ user.surname }}</h4>
            <ul>
                <li>Seguidores <span>{{ followersCount }}</span></li>
                <li>Publicaciones <span>{{ publicationsCount }}</span></li>
                <li>Reviews <span>{{ reviewsCount }}</span></li>
                <h5>Animes</h5>
                <li>Favoritos <span>{{ loveCount }}</span></li>
                <li>En espera <span>{{ waitCount }}</span></li>
                <li>Vistos <span>{{ watchCount }}</span></li>
            </ul>
        </div>

        <div class="suggestions">
            <ul>
                <h4>Sugerencias de amistad <i class="caret down icon"></i></h4>
                <li *ngFor="let suggestion of suggestions" routerLink="/{{ suggestion.username }}">
                    <img src="{{ url + '/user/image/' + suggestion.image }}" alt="{{ suggestion.image }}">
                    <p>{{ suggestion.username }}</p>
                    <i class="caret right icon"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="feed-main">
        <ul class="publication-options" #publicationList>
            <li id="publication-type-todos" (click)="changeType('todos', 'publication-type-todos');">Publicaciones</li>
            <li id="publication-type-review" (click)="changeType('review', 'publication-type-review');">Reseñas</li>
        </ul>

        <app-publicationlist *ngIf="user" [user]="null" [type]="type" [feed]="true" (reloadCounters)="reloadCountersHandler()"></app-publicationlist>
    </div>
</div>
