<div class="sign-in-out">
    <div class="left">
        <div class="align-center">
            <h1 routerLink="/">animeet</h1>
            <h5>Mira, comparte, conoce y habla sobre anime con la comunidad !</h5>
        </div>
    </div>
    <div class="right">
        <div class="form-sign">
            <h2>Bienvenid@ a la mejor comundad de anime !</h2>
            <form [formGroup]="loginForm" (ngSubmit)="signIn();">
                <input
                    type="email" 
                    placeholder="Email: email@email.com"
                    autocomplete="off" 
                    formControlName="username" 
                    [classList]="campoNoValido('username') ? 'error-input' : null"
                    spellcheck="false"
                />

                <input
                    type="password" 
                    placeholder="Password: ******"
                    autocomplete="off" 
                    formControlName="password" 
                    [classList]="campoNoValido('password') ? 'error-input' : null"
                    spellcheck="false"
                />

                <button type="submit" id="loginSubmit">Iniciar Sesión <i class="sign in icon"></i></button>
                <p>¿Olvidaste tu contraseña? <span routerLink="/auth/recuperar-password">Recuperar contraseña</span></p>
                <p>¿Aun no tienes una cuenta? <span routerLink="/auth/registro">Registrate aqui</span></p>
            </form>
        </div>
    </div>
</div>

<div class="sign-in-out-movil">
    <div class="welcome">
        <h1 class="logo-title" routerLink="/">
            <span>An</span><span>ime</span><span>et</span>
            <img src="../../../assets/logos/menu.png" alt="logo.png">
        </h1>
        <div class="container-form">
            <img src="../../../assets/2.jpg">
            <div class="form-sign">
                <form [formGroup]="loginForm" (ngSubmit)="signIn();">
                    <input
                        type="email" 
                        placeholder="Email: email@email.com"
                        autocomplete="off" 
                        formControlName="username" 
                        [classList]="campoNoValido('username') ? 'error-input' : null"
                        spellcheck="false"
                    />
    
                    <input
                        type="password" 
                        placeholder="Password: ******"
                        autocomplete="off" 
                        formControlName="password" 
                        [classList]="campoNoValido('password') ? 'error-input' : null"
                        spellcheck="false"
                    />
    
                    <button type="submit" id="loginSubmitMovil">Iniciar Sesión <i class="sign in icon"></i></button>
                    <p>¿Olvidaste tu contraseña? <span routerLink="/auth/recuperar-password">Recuperar contraseña</span></p>
                    <p>¿Aun no tienes una cuenta? <span routerLink="/auth/registro">Registrate aqui</span></p>
                </form>
            </div>
        </div>
    </div>
</div>
